---
import { getCollection, render, type CollectionEntry } from "astro:content";
import { ClientRouter } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SOCIAL_LINKS } from "../consts";

const tabs = await getCollection("tabs");
tabs.sort((a, b) => a.data.order - b.data.order);

export async function getStaticPaths() {
  const tabs = await getCollection("tabs");
  return tabs
    .filter((tab) => !!tab.data.order)
    .map((tab) => ({
      params: { slug: tab.id },
      props: tab,
    }));
}
type Props = CollectionEntry<"tabs">;

const tab = Astro.props;
const { Content } = await render(tab);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <main>
      <Navbar />
      <article>
        <Content />
      </article>
      <aside>
        <h2 class="text-center"><a href="/">Emilio Degiovanni</a></h2>
        <p>
          Senior Frontend Engineer, Angular & TypeScript specialist, and UI that
          performs and scales. Driven by clean code and great UX, I build fast,
          scalable, and modern web apps using Angular.
        </p>
        <ul>
          {
            SOCIAL_LINKS.map(({ href, label, download }) => (
              <li>
                <a
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                  download={download}
                >
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </aside>
    </main>
  </body>
</html>
