---
import { getCollection } from "astro:content";

const experiences = await getCollection("experiences");
---

<ol class="list">
  {
    experiences.map(({ id, data }, index) => (
      <li>
        <h3 class="list--title" id={id}>
          {index + 1}. {data.name}
        </h3>
        <p class="list--subtitle">
          {data.period} • {data.location}
        </p>
        <h4 class="list--role">{data.role}</h4>
        <p>{data.description}</p>

        {data.technologies && (
          <>
            <h5 class="list--topic">Technologies:</h5>
            <ul class="list--inline">
              {data.technologies.map((tech) => (
                <li class="list--inline-item">{tech}</li>
              ))}
            </ul>
          </>
        )}

        {data.highlights && (
          <>
            <h5 class="list--topic">Key Achievements:</h5>
            <ul>
              {data.highlights.map((highlight) => (
                <li>{highlight}</li>
              ))}
            </ul>
          </>
        )}
      </li>
    ))
  }
</ol>
